@font-face {
	font-family: 'pixel';
	src: url('PixelifySans-VariableFont_wght.ttf');
	font-style: normal;
}


body {
	min-height: 100vh;
	margin: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #fdf5e2;
	font-family: "pixel", sans-serif;
}



.container {
	background: #FD7096;
	padding: 32px;

	display: grid;
	grid-template-rows: auto 1fr auto;

	width: min(90vw, 420px);
	min-height: 520px;

	box-shadow:
		0 0 0 4px #000,
		5px 0 0 4px #000,
		-5px 0 0 4px #000,
		0 5px 0 4px #000,
		0 -5px 0 4px #000;

	image-rendering: pixelated;
}

.question {

	font-size: clamp(24px, 6vw, 48px);
	text-align: center;
	color: white;
	text-shadow: 2px 2px 2px black;
}

.options {
	min-height: 80px;
	display: flex;
	justify-content: space-evenly;
}

button {
	--color: #ffffff;
	--bg-color: #A9331B;
	color: var(--color);
	background-color: var(--bg-color);
	padding: 15px 40px 15px 40px;
	margin: 10px;
	font-size: 20px;
	font-family: "Courier New", monospace;
	shape-rendering: crispEdges;
	border: 0;
	box-shadow:
		0px 5px black,
		0px -5px black,
		5px 0px black,
		-5px 0px black,
		0px 10px #00000038,
		5px 5px #00000038,
		-5px 5px #00000038,
		inset 0px 5px #ffffff36;
	cursor: pointer;
}

button:active {
	transform: translateY(5px);
	box-shadow:
		0px 5px black,
		0px -5px black,
		5px 0px black,
		-5px 0px black,
		inset 0px 5px #00000038;
}

.neko-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#neko {
	width: 32px;
	height: 32px;

	transform: scale(clamp(2.5, 5vw, 4));
	background-image: url("oneko.gif");

	background-repeat: no-repeat;

	image-rendering: pixelated;
	z-index: 999999;
	cursor: pointer;
}



.no-btn.scratched {
	/* fade but keep color */
	pointer-events: none;
	transform: rotate(-6deg) scale(0.95);
	position: relative;
}

/* scratch marks */
.no-btn.scratched::after {
	content: "";
	position: absolute;
	inset: 0;

	background:
		repeating-linear-gradient(120deg,
			transparent 0px,
			transparent 6px,
			rgba(80, 0, 0, 0.55) 7px,
			rgba(30, 0, 0, 0.85) 10px);

	mix-blend-mode: multiply;
	pointer-events: none;
}

.no-btn.scratched {
	animation: shake 0.15s linear 4;
}

@keyframes shake {
	0% {
		transform: translateX(0) rotate(-6deg);
	}

	25% {
		transform: translateX(-2px) rotate(-6deg);
	}

	50% {
		transform: translateX(2px) rotate(-6deg);
	}

	75% {
		transform: translateX(-2px) rotate(-6deg);
	}

	100% {
		transform: translateX(0) rotate(-6deg);
	}
}
